<div class="container">

    <div class="row  ">
        <div class="col-md-4"> </div>
        <div class="col-md-4 center cus_design">
            <form [formGroup]="registerForm" >
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter username">

                       
                        
                        <div *ngIf="f.username.errors && isSubmited">
<div *ngIf="f.username.errors.required" style="color:red">please enter the name</div>
</div>  

                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                    <div *ngIf="f.password.errors && isSubmited">
                        <div *ngIf="f.password.errors.required" style="color:red">please enter the password</div>
                        </div>  
                </div>
                <br>
                <button  (click)="getCredential()" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"> </div>
    </div>
</div>